.title {
    text-align: left;
}

.cardIcon {
    max-width: 85px;
    width: 100%;
}

.responsiveIcon {
    object-fit: contain;
}


/* card tag, not the card */

.card {
    padding: 30px;
    margin: 30px;
}